.imgDim{
    width: 90%;
    height: auto;
}
.posterMaterialDimension{
    height: 180px;
    vertical-align: middle;
}
.dim{
    width: 30%;
}
.materialTextDimension, .posterDimensionText{
    line-height: normal;
    vertical-align: middle;
}
.selectHead{
    font-size: 18px;
    font-weight: 600;
}
@media only screen and (max-width: 500px) {
    .materialTextDimension, .posterDimensionText{
        font-size: 13px;
    }
}